body {
  background-color: rgb(153, 151, 151);
}
.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}
header {
  padding: 10px 0;
  background-attachment: fixed;
  background-color: rgb(50, 66, 105);
}
.container {
  margin: 0 auto;
  max-width: 1400px;
  width: 100%;
}
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
h1 {
  color: #ffffff;
  text-align: center;
  font-family: roboto;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 30px */
}
.rightdiv {
  display: flex;
  align-items: center;
  gap: 30px;
}
a {
  color: #ffffff;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.fa-user {
  width: 30px;
  color: #ffffff;
}
.fa-ticket {
  width: 55px;
  color: #ffffff;
}
.input {
  width: 750px;
  border-radius: 10px;
  font-size: 19px;
  background-color: rgb(183, 180, 190);
}
::placeholder {
  padding: 2px 8px;
}

.flex1 {
  margin-top: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.categories {
  color: #ffffff;
  font-size: 40px;
}
.categories:hover {
  color: #ac8989;

  transition-timing-function: linear;
}
.flex2 {
  padding-top: 20px;
  display: flex;
  justify-content: space-around;
}
.bta1,
.bta2,
.bta3 {
  font-size: 28px;
  color: #ffffff;
}
.bta1:hover {
  color: #ac8989;
}
.bta2:hover {
  color: #ac8989;
}
.bta3:hover {
  color: #ac8989;
}
.s-1 {
  margin-top: 100px;
}
.wrapper {
  display: flex;
  gap: 30px;
}

.title {
  margin-bottom: 15px;
  color: #000;
  font-family: Inter;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.discribe {
  color: rgba(0, 0, 0, 0.66);
  font-family: Inter;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.button {
  width: 230px;
  margin-top: 20px;
  border: none;
  color: white;
  padding: 20px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 20px;
  cursor: pointer;
  background-color: rgb(74, 74, 124);
}

img {
  width: 480px;
  height: 580px;
  flex-shrink: 0;
  border-radius: 20px;
}
/* s-1 done */
.s-2 {
  margin-top: 50px;
}

.sf {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 40px;
}
.ld {
  display: flex;
  justify-content: flex-start;
}
.rd {
  display: flex;
  justify-content: space-between;
}
.reco {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 31px; /* 86.111% */
}
.recoimg {
  width: 240px;
  height: 280px;
}
.recoimg:hover {
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1);
}
footer {
  margin-top: 90px;
  background-color: rgb(50, 66, 105);
  height: 300px;
}
.ff {
  height: 100%;
  display: flex;
  justify-content: space-between;
}
.leftd {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.id {
  display: flex;
  gap: 10px;
  justify-content: space-between;
}
.fa-square-facebook,
.fa-instagram,
.fa-square-youtube {
  font-size: 30px;
  padding-top: 5px;
}
.tbc {
  width: 100px;
  height: 100px;
}
.rightd {
  display: flex;
  justify-content: space-between;
}
.card1,
.card2,
.card3 {
  width: 400px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}
.h2 {
  font-size: 34px;
  color: #ffffff;
  text-decoration: underline;
}
.pd {
  display: flex;
  gap: 20px;
  flex-direction: column;
}
.pd2 {
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.A {
  font-size: 25px;
  color: #ffffff;
}
.B {
  font-size: 18px;
  color: #ffffff;
  line-height: 25px;
}
